<!DOCTYPE html>
<html>
<head>
  <title>Migrate-ease Scanner</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="https://bootswatch.com/5/lumen/bootstrap.css">
</head>
<body>
  <div class="container mt-5">
    <div class="jumbotron">
      <h1 class="display-3 text-primary">AArch64 Migration Advisor</h1>
      <hr class="bg-primary">
    </div>
  </div>

  <div class="container mt-4">
    <div class="row">
      <div id="status-panel" class="mt-1">
        <div id="console-output" class="bg-dark text-light p-3" style="height: 550px; overflow-y: auto; font-family: monospace; font-size:12px; margin-bottom: 1rem!important">
        </div>
      </div>
    </div>

    <ul class="nav nav-underline mb-3" role="tablist">
      <li class="nav-item">
          <a class="nav-link active" data-bs-toggle="tab" data-bs-target="#scan-git-pane" role="tab">Git Repo</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" data-bs-target="#scan-archive-pane" role="tab">Source archive</a>
      </li>
    </ul>

    <div class="tab-content">
       <div class="tab-pane fade show active" id="scan-git-pane" role="tabpanel">
        <form id="scan-git-form" class="" name="scan-git-form">
          <div class="row mb-3">
            <div class="col-md-7">
                <div class="input-group">
                <span class="input-group-text">Git Repo</span>
                <input type="text" name="git-repo" class="form-control" required>
              </div>
            </div>
            <div class="col-md-3">
              <div class="input-group">
                <span class="input-group-text">Branch</span>
                <input type="text" name="git-branch" class="form-control">
              </div>
            </div>
            <div class="col-md-2">
              <button class="btn btn-outline-primary" type="button" id="action-git-btn" style="width: 100%;">SCAN</button>
              <div class="d-none report-pane">
                <span class="label-success">Report:</span>
                <a href="/report" class="btn border-0" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Download report"><i class="fas fa-download text-primary"></i></a>
                <a href="/result" target="_blank" class="btn border-0" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="View report"><i class="fas fa-eye text-primary"></i></a>
              </div>
            </div>
          </div>
        </form>
       </div>
       <div class="tab-pane fade" id="scan-archive-pane" role="tabpanel">
        <form id="scan-archive-form" class="" name="scan-archive-form">
          <div class="row mb-3">
            <div class="col-md-10">
                <div class="input-group">
                <input type="file" class="form-control" name="archive-file" accept=".zip,.tar">
              </div>
            </div>
            <div class="col-md-2">
              <button class="btn btn-outline-primary" type="button" id="action-archive-btn" style="width: 100%;">SCAN</button>
              <div class="d-none report-pane">
                <span class="label-success">Report:</span>
                <a href="/report" class="btn border-0" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Download report"><i class="fas fa-download text-primary"></i></a>
                <a href="/result" target="_blank" class="btn border-0" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="View report"><i class="fas fa-eye text-primary"></i></a>
              </div>
            </div>
          </div>
        </form>
       </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

  <script>
        $(document).ready(function() {
            $('[data-bs-toggle="tooltip"]').tooltip();
            // Form submission
            $('#scan-git-form').on('submit', function(e) {
                e.preventDefault();

                var formData = new FormData(this);
                console.log($(this).serialize())

                $.ajax({
                    url: '/scan/git',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function(response) {
                        if (response.status != 'ERROR') {
                          $('#action-git-btn').html("<span class='spinner-border  spinner-border-sm' role='status' aria-hidden='true'></span>&nbsp;"+response.status);
                          $('#status-panel').removeClass('d-none');
                          pollStatus('#action-git-btn');
                        } else {
                          alert(response.message);
                          // Re-enable button
                          $('#action-git-btn').prop('disabled', false);
                        }
                    }
                });
            });
            $('#action-git-btn').click(function() {
                current_status = $(this).text();
                if ('SCAN' == current_status) {
                    git_repo = $('input[name="git-repo"]').val();
                    if (git_repo == '') {
                        alert("No git repo is given!");
                    } else {
                        // Submit form
                        $('#scan-git-form').submit();
                        // Disable button to avoid multiple submissions
                        $(this).prop('disabled', true);
                    }
                }
            });

            // Status poll
            function pollStatus(btn_name) {
                $.get('/status', function(response) {
                    var consoleDiv = $('#console-output');
                    consoleDiv.html(response.output.join('<br>'));
                    // Auto-scroll to bottom
                    consoleDiv.scrollTop(consoleDiv[0].scrollHeight);
                    console.log(response.status + '/' + btn_name);

                    switch (response.status) {
                      case "UPLOADING":
                      case "FETCHING":
                      case "SCANNING":
                          $(btn_name).contents().eq(1).replaceWith("&nbsp;"+response.status);
                          setTimeout(function(){pollStatus(btn_name);}, 1000);
                          break;
                      case "FAILED":
                      case "ERROR":
                          $(btn_name).addClass("btn-danger");
                      default:
                          // Re-enable button
                          $(btn_name).prop('disabled', false);
                          $(btn_name).text(response.status);
                          if (response.status == 'COMPLETED')
                            $(btn_name).next('.report-pane').removeClass('d-none')
                    }
                });
            }

            $('#scan-archive-form').on('submit', function(e) {
                e.preventDefault();

                var formData = new FormData(this);

                $.ajax({
                    url: '/scan/file',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function(response) {
                        if (response.status != 'ERROR') {
                          $('#action-archive-btn').html("<span class='spinner-border  spinner-border-sm' role='status' aria-hidden='true'></span>&nbsp;"+response.status);
                          $('#status-panel').removeClass('d-none');
                          pollStatus('#action-archive-btn');
                        } else {
                          alert(response.message);
                          // Re-enable button
                          $('#action-archive-btn').prop('disabled', false);
                        }
                    }
                });
            });
            $('#action-archive-btn').click(function() {
                current_status = $(this).text();
                if ('SCAN' == current_status) {
                    filename = $('input[name="archive-file"]').val();
                    if (filename == '') {
                        alert("No package to scan!");
                    } else {
                        // submit form
                        $('#scan-archive-form').submit();
                        $(this).prop('disabled', true);
                    }
                }
            });
        });

  </script>
</body>
</html>
